body {
    background-color: rgb(32, 119, 90);
    font-family: sans-serif;
}

.container {
    text-align: center;
    justify-content: center;
    margin: auto;
    height: auto;
    margin-top: 100px;
    background-color: rgb(11, 27, 27);
    width: 360px;
    color: aliceblue;
    padding: 20px;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}

input {
    width: 270px;
    padding: 8px;
    border: 2px solid #fff;
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    caret-color: black;
    color: azure;
    font-weight: bold;

}

input[type=text]:focus {
    color: black;
    background-color: aquamarine;

}

button {
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 8px;
    font-size: 15px;
    width: 50px;
    cursor: pointer;
    disply:flex;
    

}

button:hover {
    color: black;
    background-color: aquamarine;
    box-shadow: #fff 5px 5px 5px 5px;

}

#todo-list ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: aquamarine;
    color: black;
}

@media only screen and (width: 400px) {
    input{
        width:220px;
    }
    #todo-list ul{
        width:220px
    }
    .container{
        width:300px
    }
}
